* {
  color:rgba(42, 2, 80, 0.902)
  
}

body {
    background-color: azure;
    height: fit-content; 
    background-image: url('./background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif
}


h1 {
    
    font-size: 42px;
    font-weight: 600;
    text-align: left;
    width: 400px;
    margin: 20px 10px;
}

p {
    
    font-size: 16px;
}
@media {
  background-attachment: scroll;
}
.responsive {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 1000px;
  }
  #nav {
    opacity: 0.7;
    background-color: #3f396c;
    height: 3em;
  }
  
  #nav-wrapper {
    text-align: center;
  }
  
  #nav ul {
    margin-top: 0px;
    line-height: 3em;
  }
  
  #nav ul li {
    display: inline-block;
    width: 5em;
  }
  
  #nav ul li a {
   text-decoration: none;
    color: white;
    display: block;
  }
  
  #nav ul li a:hover {
    color: white
    font-size: 16.8px;
    -webkit-transition: font-size .2s;
    transition: font-size .2s;
    text-shadow:5px 5px 5px rgb(58, 57, 57);
  }